{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- ==========Page Header Section Starts Here========== -->
    <div class="pageheader" style="background-image:url({% static "assets/images/bg/home1/9.png" %}">
        <div class="container">
            <div class="pageheader__content">
                <h2>Login</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "home:home" %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- ==========Page Header Section Ends Here========== -->



    <!-- ===============>> account start here <<================= -->
    <section class="account padding-top padding-bottom">
        <div class="container-fluid">
            <div class="account__wrapper" data-aos="fade-up" data-aos-duration="800">
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="account__content">
                            <!-- account tittle -->
                            <div class="account__header">
                                <h3>Log in to your account</h3>
                                <p>Welcome back! Please enter your details.</p>
                            </div>
                            <!-- account form -->
                            <form method='post' class="account__form needs-validation" novalidate>{% csrf_token %}
                                <div class="row g-4">
                                    <div class="col-lg-12">
                                        <div class="input-group">
                                            {{ login_form.username }}
                                            <div class="valid-tooltip">
                                                This email is valid
                                            </div>
                                            <div class="invalid-tooltip">
                                                Please enter a valid email
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="input-group">
                                            {{ login_form.password }}
                                            <div class="valid-tooltip">
                                                Looks good!
                                            </div>
                                            <div class="invalid-tooltip">
                                                Enter a strong password
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="account__form-passcheck">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" value="" id="terms-check">
                                        <label for="terms-check" class="form-check-label">
                                            Remember for 30 days
                                        </label>
                                    </div>
                                    <div class="account__form-forgotpass">
                                        <a href="forgot-pass.html">Forgot Password?</a>
                                    </div>
                                </div>

                                <button type="submit"
                                    class="trk-btn trk-btn--border trk-btn--secondary1 d-block mt-4">Sign in</button>
                            </form>
                            <!-- account social -->
                            <div class="account__social">
                                <a href="{% url 'social:begin' "google-oauth2" %}" class="account__social-btn"><span><img src="{% static "assets/images/others/google.svg" %}"
                                            alt="google icon"></span>
                                    Sign in with google
                                </a>
                            </div>

                            <div class="account__switch">
                                <p>Don't have an account? <a href="signup.html">Sign up</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===============>> account end here <<================= -->

{% endblock content %}